services:
  backend:
    build:
      context: ./backend
      dockerfile: ./backend/Dockerfile
    command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    env_file: ./backend/.env
    volumes:
      - ./backend:/app
      - media_volume:/app/media
      - static_volume:/app/static 
    ports:
      - 8000:8000

  frontend:
    build:
      context: ./frontend
      dockerfile: ./frontend/Dockerfile
    env_file: ./frontend/.env
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  media_volume:
  static_volume: